#datetime-picker {
  color: #000;
}

#datetime-picker,
[data-start] {
  font-size: 18px;
  font-weight: 400;
}

[data-start]:enabled {
  color: #000;
}

.timer {
  display: flex;
  margin: 20px auto 0px;
  width: 50%;
  text-align: center;
}

.field {
  margin-right: 20px;
}

.value {
  display: block;

  font-weight: 600;
  font-size: 32px;
}

.label {
  text-transform: uppercase;
}
